{% extends "base.html" %}
{% block titulo %}
Editar juego
{% endblock %}
{% block contenido %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-6">
            <h3 class="bgtitulo ">Detalles</h3>
            <form action="{{url_for('actualizar_juego')}}" method="post">
                <!-- Enviar el id en un campo oculto -->
                <input type="hidden" name="id" value="{{juego[0]}}">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <input value="{{juego[1]}}" required type="text" class="form-control" placeholder="Nombre" name="nombre" id="nombre" disabled >
                </div>
                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripción:</label>
                    <input value="{{juego[2]}}" required type="text" class="form-control" placeholder="Descripción" name="descripcion" id="descripcion" disabled>
                </div>
                <div class="mb-3">
                    <label for="precio" class="form-label">Precio:</label>
                    <input value="{{juego[3]}}" required type="number" class="form-control" placeholder="Precio" name="precio" id="precio" disabled>
                </div>
                <div class="d-flex gap-2">
                    <a href="{{url_for('juego')}}" class="btn btn-primary">Volver 🏚</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


