{% extends "base.html" %}

{% block content %}

<h1 class="text-white">Nosotros</h1>
<p class="text-white">Tesla es una aplicación diseñada para facilitar el monitoreo y la gestión de vehículos Tesla, brindando a los usuarios acceso rápido a información en tiempo real sobre el estado del vehículo, sus estadísticas de consumo, y funcionalidades remotas. Con una interfaz intuitiva, la aplicación permite acceder a datos detallados como el nivel de batería, el estado de carga, historial de conducción, y control de funciones clave del vehículo desde cualquier lugar. Además, incluye opciones de personalización y alertas que hacen que la experiencia de conducción sea más eficiente y segura.</p>

{% endblock %}